@charset "utf-8";
/* CSS Document */


#blog-container{
	margin: 6em auto;
}

/* #like_button {
	transform: translate(0, 30px);
} */

.general-style{
	background-color: #fff;
	border-radius: 10px;
	overflow: hidden;
	color: black;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .15);
	transition: box-shadow .5s;
	height: 270px;
	margin: 10px;
}

#blog-container .general-style span{
	color: #000000 !important;
}

#asideside{
	height:200px;
	background-color: green;

}

#blog-container .header_link{
	color: #dc3545;
}

#blog-container .general-style .header_link:hover{
	color: #000000 !important;
}


.general-style .profile-pic{
	min-width:60px !important;
	max-width:60px !important;
	min-height: 60px;
	max-height: 60px;
	/* background-color: #dc3545; */
	border-radius: 50%;
	transform: rotate(-20deg);
	transition: transform .3s, border-radius .7s;
	
}

.general-style .product-img{
	width:100%; 
	height: 100%; 
	/* max-height: 100%; */
	object-fit: cover;
	object-position: center;
}

.general-style:hover{
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .25);
	
}

.general-style:hover .profile-pic{
	transform: rotate(0deg);
	border-radius: 0;
}


/*
**
**  userpost section css
**
*/
#userpost{
	margin-top: 6em;
}

#userpost img {
	width: 150px;
	height: 150px;
}




@media(max-width: 40em){

	#blog-container{
		padding: 10px;
	}

	.general-style{
		padding: 10px;
		height: auto;
		max-height: auto;
	}

	.general-style .product-img{
		height: 220px;
		object-fit: cover;
		object-position: center;
	}

	#userpost{
		margin-top: 6em;
		text-align: center;;
	}


}


















