*:focus {
    outline: none !important;
    box-shadow: none !important;
}

body {
    background-color: #f8f9fa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Orbitron', sans-serif;
}

h1 {
    font-weight: 600;
}

p {
    color: #5f6368;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

a {
    text-decoration: none;
}

b,
strong {
    color: #dc3545;
}


/* Carousel CSS  */

.drk::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.carousel-item img {
    border: none !important;
    outline: none;
    object-fit: cover;
    object-position: center;
}

.carousel-item {
    text-align: center;
    /* height: 100vh; */
    min-height: 100vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-color: maroon;
}

.carousel-caption {
    display: block;
    margin-bottom: 25vh;
}

.carousel-caption h5 {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 25px;
    font-family: 'Orbitron', sans-serif;
    padding-bottom: 15px;
}

.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 20px;
    font-weight: 300;
    color: #dee2e6;
    padding-bottom: 15px;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    width: 70px;
    height: 70px;
}

.carousel-caption p a button{
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 50px;
}

.carousel-indicators li  {
    width: 18px;
    height: 18px;
    border-radius: 50%;
}





/*css for the welcome section */

#welcome {
    padding: 3em 0;
    margin-bottom: 0;
    background: #FFFFFF;
}

#welcome_section {
    text-align: center;
    margin: 2.5em auto;
}

#welcome_section #welcome-dish {
    /* background-image: linear-gradient(to right top, #ffa423, #ffd100, #ffff00); */
    background: linear-gradient(to right top, #e1e1e1, #f8f9fa);
}

#welcome_section #welcome-community {
    /* background-image: linear-gradient(to right top, #ffa423, #ffd100, #ffff00); */
    background: linear-gradient(to right top, #dbdcdc, #DEE6E3);
}

#welcome_section #welcome-learning {
    /* background: linear-gradient(to right top, #ffa423, #ffd100, #ffff00); */
    background: linear-gradient(to right top, #dbdcdc, #DEE6E3);
}

#welcome_section .welcome-class {
    padding: 2.3em;
    height: auto;
    margin: 1em auto;
}

#welcome_section h1 {
    text-transform: uppercase;
}

#welcome_section h2 {
    font-family: 'RopaSans-Regular';
}

#welcome_section p .icofont {
    background: -moz-linear-gradient(maroon, #dc3545);
    background: -webkit-linear-gradient(maroon, #dc3545);
    background: linear-gradient(#dc3545, maroon);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}

#welcome_section a {
    color: inherit;
    text-decoration: underline;
}


/* css for category section */

#mission {
    margin: 0 auto 0 auto;
    background: #e9ecef;
}

#mission .mission-class {
    padding: 5em 2em 3em 0.5em;
}

#mission .goal-mission {
    text-align: left;
    display: block;
    width: auto;
}

#mission .join-mission {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("/static/cookella/images/slidefood_img4.03ebbf5403ac.jpg");
    background-size: cover;
    padding: 8em 5em;
    text-align: center;
    width: auto;
}

#mission .join-mission h2 {
    color: #FFFFFF;
    font-weight: 900;
    font-size: xx-large;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#mission .join-mission p {
    color: #FFFFFF;
}


/*  css for details section */

#details {
    padding: 20vh 10px;
    text-align: center;
    background-color: #FFFFFF;
    min-height: 100vh;
}

#details p .icofont {
    border-radius: 30%;
    padding: 10px;
    display: inline-block;
    color: #343a40;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.45);
    -webkit-animation: animate_icon 5s ease-in-out infinite;
    animation: animate_icon 30s ease-in-out infinite;
}

#details p {
    padding: 10px;
}


/* set keyframe to fake delay */

@keyframes animate_icon {
    0% {
        transform: rotateY(0deg);
    }
    5% {
        transform: rotateY(-360deg);
    }
    100% {
        transform: rotateY(-360deg);
    }
}


/* css for features section */

#features {
    background-image: linear-gradient(to left, rgb(108 117 125 / 0.8), rgb(108 117 125 / 0.8)), url("/static/cookella/images/brooke-lark-V4MBq8kue3U-unsplash.57fc970d1c4b.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 3.0em 0;
}

#ft-txt {
    text-align: center;
}

#ft-txt h1 {
    text-transform: uppercase;
}

#ft-txt p {
    color: #ffc800;
}

#features .ft-features>p {
    color: #05131c;
    font-family: poppins;
    font-size: 1.1em;
    font-weight: 500;
}

#features h2,
h3,
span {
    display: inline-block;
}

#features .icofont {
    font-size: 26px;
    background: -moz-linear-gradient(maroon, #dc3545);
    background: -webkit-linear-gradient(maroon, #dc3545);
    background: linear-gradient(#dc3545, maroon);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}

#features .ft-features {
    border-radius: 20px;
    border: 1px solid white;
    padding: 30px;
    margin: 1em auto;
    background-color: rgba(200, 200, 200, 0.5) !important;
    transition: All 2000s ease-in !important;
}


/* Shutter In Horizontal */

.hvr-shutter-in-horizontal {
    background: rgba(255, 255, 255, 0.102) !important;
}

.hvr-shutter-in-horizontal:before {
    background: rgba(255, 255, 255, 0.102) !important;
    border-radius: 20px;
}


/* footer css*/

#footer-id {
    background-color: #292929;
    bottom:0;
    padding: 2em;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    font-weight: 700;
}


#footer-id a {
    color: #d1d1d1;
}

#footer-id a:hover {
    color: #ffc800;
}


/* The about page css section */

#about-page {
    background-color: transparent;
    padding: 20px;
    margin: 4.5em auto;
    text-align: left;
}


#about-page img {
    height: 300px;
    width: 100%;
    margin: 1em auto;
    box-shadow: 10px 10px 7px -5px grey;
    display: inline-block !important;
    opacity: 0.9;
}


/* form */

.form-override {
    background-color: #fff;
    margin: 5em auto;
    padding: 20px;
    font-weight: 550;
    box-shadow: 0 5px 10px grey;

}

.form-override h1{
    color: #dc3545;
}

.message-override {
    margin: 4.5em auto -5em auto;
    text-align: center;
}

#food_recipe {
    background-color: #fff;
    padding: 20px;
    margin: 4.5em auto;
}

/* food details css*/

#recipe-section .img-box img {
    width: 100%;
    height: 220px;
    padding: 20px;
    transform: scale(1, 1) !important;
    transition: padding 0.4s ease-out, filter  0.4s 0.5s ease-out ;
    object-fit: cover;
    object-position: center;
}

.container .row .col-sm-3 .col-sm-12 {
    padding: 0 !important;
}

#recipe-section {
    margin: 4em auto;
}

#recipe-section p {
    font-size: 0.9em;
}

.recipe-wrapper a{
    text-decoration: none;
}

.recipe-wrapper {
    /* box-shadow: 0 0 7px 0 rgba(0, 0, 0, .25); */
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .15);
    margin-top: 1.235em;
    background-color: #FFFFFF;
    border-radius: 20px;
    overflow: hidden;
}

.recipe-wrapper:hover .img-box img {
   filter: grayscale(0.3);
   padding: 0 !important;
}

.recipe-wrapper .recipe-detail{
    padding: 20px 20px 0 20px;
    
}


/*For the like and unlike button in django css */


.msg-btn {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.8);
    color: #007bff;
}

@media(max-width: 48em) {
    .carousel-item{
        min-height: 95vh;
    }
    .carousel-caption {
        text-align: center;
        margin-bottom: 20vh;
    }
    .carousel-caption p {
        min-width: 100% !important;
        font-size: 18px;
    }
    .carousel-caption h5 {
        font-size: 30px;
        width: 100%;
    }
    #welcome_section .welcome-class {
        padding: 0.6em;
    }
    #food_recipe {
        padding: 0px;
        margin: 4.5em auto;
    }
    #about-page {
        background-color: transparent;
        padding: 0px;
        margin: 4em auto;
        text-align: left;
    }

    #details {
        padding: 5vh 10px;
    }

    #features {
        background-attachment: scroll;
    }
}