@charset "utf-8";
/* CSS Document */


#blog-container{
	margin: 5em auto;

}

/* #like_button {
	transform: translate(0, 30px);
} */

.general-style{
	/* background-color: #fff; */
	width: 100%;
	border-radius: 20px 0;
	overflow: hidden;
	color: black;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .15);
	transition: box-shadow .2s;
}

#asideside{
	height:200px;
	background-color: green;

}

#blog-container .header_link{
	/* color: #dc3545; */
	color: #080808;
}

#blog-container .general-style .header_link:hover{
	color: #dc3545 !important;
}


.general-style .profile-pic{
	min-width:60px !important;
	max-width:60px !important;
	min-height: 60px;
	max-height: 60px;
	/* background-color: #dc3545; */
	border-radius: 50%;
	transform: rotate(-20deg);
	transition: transform .3s, border-radius .7s;
	
}

.general-style .product-img{
	object-fit: cover;
	object-position: center;
	height:312px;
	width: 100%;
}

.general-style:hover{
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .25);
	background: white;
	
}

.general-style:hover .profile-pic{
	transform: rotate(0deg);
	border-radius: 0;
}


/*
**
**  userpost and user recipe section css
**
*/
#userpost{
	margin-top: 6em;
}

#userpost img {
	width: 150px;
	height: 150px;
}

#user-recipes{
	margin-top: 6em;
}

#user-recipes img {
	width: 150px;
	height: 150px;
}




@media(max-width: 40em){

	#blog-container{
		padding: 10px;
	}

	.general-style{
		padding: 10px;
		height: auto;
		max-height: auto;
	}

	.general-style .product-img{
		height: 220px;
		object-fit: cover;
		object-position: center;
	}

	#userpost{
		margin-top: 6em;
		text-align: center;
	}


}


















