{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}
{%  load crispy_forms_tags %}

<!-- {% block head_title %}{% trans "Sign In" %}{% endblock %} -->

{% block content %}

<!-- <h1>{% trans "Sign In" %}</h1> -->

{% get_providers as socialaccount_providers %}

<div class="container flex-fill">
  <div class="row">
    <div class="offset-md-2 col-12 col-md-4">
      <div class="form-override">
        <h1>{% trans "Login" %}</h1>
        <br />
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form|crispy }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          
          <button class="btn btn-danger btn-block primaryAction" type="submit">{% trans "Sign In" %}</button>
          <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </form>
        <div class="row">
          <div class="col-12">
            {% if socialaccount_providers %}
            <p>{% blocktrans with site.name as site_name %}Please sign in with one
              of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
              for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
  
            <div class="socialaccount_ballot">
  
              <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
              </ul>
  
              <div class="login-or">{% trans 'or' %}</div>
  
            </div>
  
            {% include "socialaccount/snippets/login_extra.html" %}
  
            {% else %}
            <br />
            <p>{% blocktrans %}Don't have an account yet?
              <a href="{{ signup_url }}" style="text-align: center;"><button class="btn btn-warning">sign up</button></a>{% endblocktrans %}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  < </div>



    {% endblock content %}