{% extends "base.html" %}
{%  load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}



<div class="container flex-fill">
  <div class="row">
    <div class="offset-md-2 col-12 col-md-8" >
      <div class="form-override">
        <h1>{% trans "Sign Up" %}</h1>
        <br />
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          <div class="form-row">
            <div class="form-group col-md-6 mb-0">
              {{ form.email|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
              {{ form.username|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
              {{ form.password1|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
              {{ form.password2|as_crispy_field }}
            </div>
          </div>
          
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn btn-danger btn-lg" type="submit">{% trans "Sign Up Today" %} &raquo;</button>
        </form>

        <div class="border-top pt-2 mt-3">
          {% blocktrans %}<small>Already have an account?</small>
          <a href="{{ login_url }}"><strong>Sign in</strong></a>
          {% endblocktrans %}
        </div>
      </div>
    </div>
  </div>

</div>


{% endblock %}