{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="row">
    <form method="POST" class="offset-sm-3 col-sm-6 form-override" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset>
        <h1 class="form-group mb-4 mt-4">
          <h1>Blog Now</h1>
        </h1>
        {{ form|crispy }}
      </fieldset>
      <div>
        <button type="submit" class="btn btn-danger btn-lg">Post</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}