{% extends "cookella/base.html" %}

{% block content %}
    <div class="container">
    <div class="row">
            <form method="POST" class="form-override">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="form-group mb-4 mt-4"><h1>Delete Post</legend>
                    <h2>Are you sure you want to delete post?</h2>
                </fieldset>
                <div>
                    <button type="submit" class="btn btn-outline-danger btn-group-sm">Yes, Delete</button>
                    <a href="{% url 'post-detail' object.id object.date_created.year object.slug %}"
                       class="btn btn-outline-secondary btn-group-sm">Cancel</a>
                </div>
            </form>

        </div>
    </div>
{% endblock content %}