@charset "utf-8";

/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?&family=Orbitron&display=swap');


.navbar-light {
    display: inline-block;
    height: auto;
    transition: 0.7s ease;
    margin-bottom: 2em;
    font-family: 'Orbitron', sans-serif;
    background-color: rgba(08, 08, 08, 0.6);
    padding: 5px 0;
}

.navbar-light.scrolled {
    display: inline-block;
    height: auto;
    /* background-color: rgba(178, 34, 34, 1); */
    background: #374F75;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
}

.navbar-light .navbar-brand {
    color: rgba(255, 255, 255, 1.0);
}

.navbar-light .navbar-brand:hover {
    color: #ffc800;
}

.navbar-light .navbar-nav .nav-item>.nav-link {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.9em;
    color: #dee2e6;
    padding: 20px 7px;
    margin: -20px auto;
    font-family: 'Roboto', sans-serif;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-item>.community {
    color: #000000;
    font-weight: 900;
    background-color: #dee2e6;
    opacity: 0.8;
}

.navbar-light .navbar-nav .nav-item>.community:hover {
    transition: opacity 0.2s ease-in-out;
    color: #080808;
    opacity: 1;
}


/* i just want the nav auth to have different color */

.navbar-light .navbar-nav .nav-item>.nav-auth {
    color: #ffc800;
    font-size: 14px;
    font-weight: 900;
    margin-left: 10px;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-item>.nav-auth:hover {
    color: #ffffff;
}

.w-100 {
    height: 100vh;
}

.navbar-light .navbar-nav>.nav-item>a:active,
.navbar-light .navbar-nav>.nav-item>a:hover {
    color: #ffc800;
    transition: background-color 0.2s ease-in;
}

.navbar-nav {
    text-align: center;
}

.nav-link {
    padding: .2rem 1rem;
}


@media(max-width: 48em) {
    .navbar-light {
        background-color: rgba(08, 08, 08, 0.8);
        padding: 5px 2px;
        
    }
    .navbar-light .navbar-nav>.nav-item>a:hover {
        background-color: transparent!important;
        color: #ffc800;
    }
    .navbar-light .navbar-nav .nav-item>.nav-link {
        padding: 50px 0;
        font-weight: 900;
        font-size: 16px;
    }
    .navbar-light .navbar-nav .nav-item>.community {
        color: #e8554e;
        background-color: transparent !important;
    }
}