@charset "utf-8";

/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?&family=Orbitron&display=swap');


.navbar-expand-lg {
    background: #f6f6f9;
    box-shadow: 0 2px 10px rgba(08,08,08, 0.3);
    text-align: center;
    transition: .5s;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #080808;
    padding: 15px 10px ;
    text-transform: uppercase;
    font-weight: 400;
}

.scrolled{
    display: inline-block;
    height: auto;
    background: #FFFFFF;
    color: #000000;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
}

.scrolled .navbar-nav .nav-link {
    color: #080808;
}

.scrolled .navbar-brand {
    color: #000000;
}

.navbar-brand {
    font-size: 2.2rem;
    font-weight: bold;
    color: #000000;
    font-family: 'Tungsten';
    letter-spacing: 5px;
    padding-left: 5px !important;
    font-weight: 900;
}

.navbar-brand:hover {
    color: #dc4535;
}

.navbar-nav .nav-item>.community {
    color: #000000;
    font-weight: 900;
    background-color: #dee2e6;
    opacity: 0.8;
}

.navbar-nav .nav-item>.community:hover {
    transition: opacity 0.2s ease-in-out;
    color: #dc4535;
    opacity: 1;
}

.navbar-nav .nav-item>.nav-auth:hover {
    color: #000000;
}

.w-100 {
    height: 100vh;
}

.navbar-nav>.nav-item>a:active,
.navbar-nav>.nav-item>a:hover {
    color: #dc4535;
    transition: background-color 0.2s ease-in;
}


@media(max-width: 48em) {
    .navbar-nav>.nav-item>a:hover {
        background-color: transparent!important;
        color: #dc4535;
    }
     .navbar-nav .nav-item>.nav-link {
        padding: 20px 0;
        font-weight: 900;
        font-size: 16px;
        color: #080808;
    }

    .navbar-brand {
        padding: 0 0 0 5px !important;
        font-weight: 900;
    }
}