{% extends "base.html" %}
{% load static %}


{% block content %}
    <section class="container" id="recipe-section">
        <div class="row mb-4">
            <div class="col-12 col-md-9">
                <div class="row">
                    {% for dish in object_list %}
                    <div class="col-12 col-md-4  mb-4">
                        <div class="recipe-wrapper h-100">
                                {% if dish.food_image %}
                                    <div class="img-box border-bottom">
                                        <img src="{{ dish.food_image.url }}" class="w-100 img-fluid"/>
                                    </div>
                                {% endif %}
                                <div class="recipe-detail">
                                    <h6 class="text-muted">{{ dish.country.name }} <i
                                        class="{{ dish.country.flag_css }}"></i>
                                    </h6>
                                    <h5>
                                        {{ dish.food_name }}
                                    </h5>
                                    <p><strong>By:</strong> {{ dish.contributor }}</p>
                                    <a href="{%  url 'recipes' dish.pk dish.slug %}" >
                                        <button type="button" class="btn btn-danger btn-block btn-lg rounded-0">
                                            Cook Now
                                        </button>
                                    </a>

                                </div>
                                    
                        </div>
                    </div>
                    {% endfor %}
                </div>   
            </div>
            <aside class="col-12 col-md-3" >
                <div style="width: 100%; height: 600px; background-color: #ffc800;">

                </div>
            </aside>
        </div>

        <div class="mt-5 text-center border-top">
            {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <a class="btn btn-outline-primary" href="?page=1">First</a>
                    <a class="btn btn-outline-primary" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a class="btn btn-primary btn" href="?page={{ num }}">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a class="btn btn-outline-primary" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <a class="btn btn-outline-primary" href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a class="btn btn-outline-primary"
                       href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}
            {% endif %}

        </div>

    </section>
{% endblock %}

