{% extends 'base.html' %} {% load static %} {% block content %}

<div id="carouselExampleIndicators" class="carousel" data-ride="carousel" data-interval="false">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active drk">
            <img src="{% static "cookella/images/jonathan-borba-8WbeydChgQA-unsplash.jpg" %}"
                class="d-block mx-auto d-block w-100 " alt="..." />
            <div class="carousel-caption">
                <h5 class="animated fadeInUp" style=" animation-delay: 1s;">Food, Recipe <span class="text-danger">&amp;</span> Blog</h5>
                <p class="animated bounceInLeft" style=" animation-delay: 1s;">
                    We are a community of cooking and food enthusiast.
                    A platform where You can upload your recipes online, and blog about it.

                </p>

                <p class="animated zoomIn pt-4" style=" animation-delay: 1s;">
                    <a href="{% url 'dish_list' %}"
                        class="d-inline-block mb-2 mb-md-0 btn btn-danger rounded-pill  btn-lg shadow-sm">
                        View Recipe
                    </a>
                    <!-- <span class="d"></span> -->

                    <a href="{% url 'cookella-add-recipe'%}" class="btn btn-light rounded-pill btn-lg shadow-sm">
                        Add Recipe
                    </a>
                </p>

            </div>
        </div>

        <div class="carousel-item drk con">
            <img src="{% static 'cookella/images/cheffslide1.jpg' %}" class="mx-auto d-block w-100" alt="...">
            <div class="carousel-caption">
                <h5 class="animated  lightSpeedIn" style=" animation-delay: 1s;">Join our Community</h5>
                <p class="animated bounceInLeft" style=" animation-delay: 1s;">
                    Join us today and enjoy all our awesome features. <br />
                    Earn your recognition for your cooking skills.
                </p>
                <p class="animated zoomIn pt-3" style=" animation-delay: 1s;">
                    <a href="{% url 'blog-home' %}">
                        <button class="btn btn-warning btn-lg ">
                            REGISTER FREE
                        </button>
                    </a>
                    <!-- <a href="{% url 'blog-home' %}">
                        <button class="btn btn-light btn-lg">
                            Login
                        </button>
                    </a> -->
                </p>
            </div>
        </div>
    </div>
    {% comment %} <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a> {% endcomment %}
</div>

<section class="bg-white">
    <div class="container my-5" id="ft_recipes">
        <div class=" row">
            <div class="col-12 col-md-4 bg_layer">
                <h1 class=" text-white">Featured Recipes</h1>
            </div>
            <div class="col-12 col-md-8 py-3">
                <div class="row">
                    {% for recipe in ft_recipes %}
                    <div class="col-12 col-sm-6 pb-3">
                        <a href="{%  url 'recipes' recipe.pk recipe.slug %}"
                            class="d-flex justify-content-lg-start p-3 shadow rounded">
                            <div>
                                <img class="img-fluid m-0 p-0 rounded-circle" src="{{ recipe.food_image.url }}"
                                    style="min-width: 100%; width: 200px; height: 120px; padding-right: 5px; object-fit: cover;">
                            </div>
                            <div class="p-2" style="width: 100%;">
                                <h5><b class="text-dark">{{recipe.food_name}}</b></h5>
                                <p class="text-danger"><small>{{recipe.country.name}}</small></p>
                                <p>{{recipe.contributor}}</p>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<!-- block section -->
<div id="ft-blogs">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2 my-5 text-center">
                <h1 class="">Top Featured Blogs About Food and Recipes For You</h1>
            </div>

            {% for post in posts %}
            <div class="col-md-4 mb-5">
                <!-- <div class="h-100 w-100 border bg-danger"> -->
                <a href="{{ post.get_absolute_url }}" class="text-dark  hvr-shrink shadow"
                    style="width: 100%; height: 100%; border-radius: 10px 20px; overflow: hidden;
                    backdrop-filter: blur(10px); rgba(255, 255, 255, 0.15); border: 1px solid rgba(255, 255, 255, 0.01);
                     ">
                    {% if post.image %}

                    <img src="{{post.image.url}}" class="img-fluid product-img p-0" alt="{{post.title}}"
                        style="height: 300px; width: 100% !important; object-fit: cover; ">

                    {% else %}
                    <img src="{% static "blog/images/blogdefault.png" %}" alt="no thumbnail"
                        style="height: 300px; width: 100%; object-fit: cover; object-position: center;" />
                    {% endif %}
                    <div class="py-4 px-4">
                        <h2 class="h3"> {{ post.title|truncatechars:55 }} </h2>

                    </div>

                    <div class=" d-flex justify-content-between align-items-end flex-grow-1 border-top pt-3 px-4 ">
                        <p><i class="icofont icofont-ui-user text-danger"></i> {{ post.author }} </p>
                        <p><i class="icofont icofont-ui-calendar text-info"></i> {{ post.date_created|date:"M d, Y"  }}
                        </p>
                    </div>


                </a>
                <!-- </div> -->
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<!-- categories section -->
<section id="mission">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 d-flex align-items-center">
                <div>
                <h2>Who we are and What we do?</h2>
                <p>
                    A Social community where you can post on a variety of topics related to Food, Health, and Recipes.
                    We
                    provide Cooking Enthusiasts, and Food Experts a profile, Recipes page, and a blogging
                    system, where every registered user is a blogger. <br />
                    <strong>Gain the recognition you deserve today!!!</strong> <br />
                    <br />
                    <a href="{% url 'cookella-about' %}">
                        <button class="btn btn-lg btn-light">
                            Know More
                        </button>
                    </a>

                </p>
                </div>
            </div>
            <div class="col-sm-6 join-mission mission-class">
                <h1>Join Our Awesome Community Today For Free </h1>
                <p>Register Today and Enjoy all our exciting features</p> <br />
                <p>
                    <a href="{% url 'account_signup' %}">
                        <button class="btn btn-lg btn-danger">
                            Join Now
                        </button>
                    </a>
                </p>
            </div>
        </div>
    </div>

</section>

<!-- welcome section -->
<section id="welcome">
    <section class="container" id="welcome_section">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <h1>For Foodies, By Foodies</h1>
                <p>
                    Cookella is a community for professional chef and cooking enthusiast.
                </p>
            </div>

            <div class="col-sm-4 col-12 hvr-float-shadow ">
                <a href="{% url 'cookella-add-recipe' %}">
                    <div class="col-sm-12 welcome-class hvr-curl-top-right" id="welcome-learning">
                        <p><span class="icofont icofont-page icofont-5x"></span></p>
                        <h3 class="py-3">Add Recipe</h3>
                        <p>
                            Add Recipes today and watch them grow in popularity, and Appreciated by other foodies.
                            Enjoy what you do, dowhat you enjoy.
                        </p>
                    </div>
                </a>
            </div>
            <!-- end of col -->

            <div class="col-sm-4 col-12 hvr-float-shadow">
                <a href="{% url 'dish_list' %}">
                    <div class="col-sm-12 welcome-class shadow hvr-curl-top-right">
                        <p><span class="icofont icofont-5x icofont-food-basket" aria-hidden="true"></span></p>
                        <h3 class="py-3">Dish & Recipe</h3>
                        <p>
                            Over 3000+ Recipes,contributed by cooking enthusiast and foodies alike. Share your Recipes
                            and
                            learn new Recipes.
                        </p>

                    </div>
                </a>
            </div>
            <!-- end of col -->
            <div class="col-sm-4 col-12 hvr-float-shadow">
                <a href="{% url 'blog-home' %}">
                    <div class="col-sm-12 welcome-class hvr-curl-top-right" id="welcome-community">
                        <p><span class="icofont icofont-5x icofont-rss-feed" aria-hidden="true"></span></p>
                        <h3 class="py-3">Community</h3>
                        <p>
                            Get in touch with multitude of cooking enthusiast, foodies and expert chefs.
                            Blog and post anything related to food health and recipes.
                        </p>
                    </div>
                </a>
            </div>
            <!-- end of col -->
        </div>
    </section>
</section>

<!-- the features section -->
<section id="features">
    <section class="container" id="ft-section">
        <div class="row">
            <div class="col-sm-12" id="ft-txt">
                <h1 class="hvr-underline-from-center">Superb Features</h1>
                <p>What we offer on our platform, superb features with zero cost.</p>
            </div>
            <div class="col-sm-4">
                <div class="ft-features">
                    <i class="icofont icofont-1x icofont-culinary"></i>
                    <h3>Recipes</h3>
                    <p>
                        View hundreds of easy to learn recipes or Upload your recipes on our platform,
                        Let the world admire your skills.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ft-features">
                    <i class="icofont icofont-cup-cake"></i>
                    <h3>Blogging</h3>
                    <p>
                        Blog about your interest and what excites you, about your recipes
                        home cook or professional.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ft-features ">
                    <i class="icofont icofont-restaurant"></i>
                    <h3>Health</h3>
                    <p>
                        How does food and recipes related to health, well-being and healthy living?
                        let us know.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ft-features ">
                    <i class="icofont icofont-birthday-cake"></i>
                    <h3>Cakes</h3>
                    <p>
                        We love cakes, do you? are you a baker and do you wish to promote yourself?
                        don't worry we got you covered.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ft-features ">
                    <i class="icofont icofont-blogger"></i>
                    <h3>Baking</h3>
                    <p>
                        Do you have skills beyond cakes, the world is waiting to find out, through our platform
                        you can reach your fans.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ft-features ">
                    <i class="icofont icofont-diners-club"></i>
                    <h3>Events Planning &amp; Tips</h3>
                    <p>
                        Here you can find tips for event planning or get to meet clients
                        who are ready to hire your service.
                    </p>
                </div>
            </div>
        </div>
    </section>
</section>

{% endblock content %}