{% extends "base.html" %}
{%  load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <form method="POST" class="offset-sm-3 col-sm-6 form-override">
                {% csrf_token %}
                <fieldset>
                    <legend class="form-group mb-4 mt-4"><h1><strong>Reset Password</strong></h1></legend>
                    {{ form|crispy }}
                </fieldset>
                <div>
                    <button type="submit" class="btn btn-info  btn-lg">Request Password Reset</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}