{% extends "base.html" %} {% load crispy_forms_tags %} {% load static %} {% block content %}
<div class="container mt-5">
    <div class="row " id="profile">
        <div class="col-12 col-md-3 mb-4 d-flex">
            <a href="{{ user.profile.photo_url }}" target="_blank">
                <img class="img-fluid rounded-circle" style="height: 150px; width: 150px;" src="{{ user.profile.photo_url }}">
            </a>
        </div>

        <div class="col-12 col-sm-8">
            <div class=" d-flex">
                <h1 class="mr-2 mr-md-5">{{ user.username }}</h1>
                <a href="{% url 'profile-settings' request.user.username %}" class=" mr-2">
                    <i class=" icofont icofont-ui-settings icofont-3x text-dark"></i>
                </a>
                <a href="{% url 'cookella-add-recipe' %}" class="mr-2">
                    <span class="  btn btn-danger " data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">ADD
                        RECIPES</span>
                </a>
                <a href="{% url 'blog-home' %}" class="mr-2">
                    <span class="btn btn-secondary ">WRITE</span>
                </a>
            </div>

            <p>{{ user.email }}</p>

            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-link active" id="nav-recipes-tab" data-toggle="tab" href="#nav-recipes" role="tab" aria-controls="nav-recipes" aria-selected="true" data-toggle="tooltip" data-placement="bottom" title="RECIPES">
                        <i class=" icofont icofont-3x icofont-chef"></i>
                        <!-- <br>
                        <span class="badge badge-danger">{{ post_count }}
                        </span> -->
                    </a>
                    <a class="nav-link" id="nav-posts-tab" data-toggle="tab" href="#nav-posts" role="tab" aria-controls="nav-posts" aria-selected="false">
                        <i class=" icofont icofont-3x icofont-letterbox"></i>
                        <!-- <br>
                        <span class="badge badge-danger">{{ post_count }}
                        </span> -->
                    </a>
                    <a class="nav-link" id="nav-savedposts-tab" data-toggle="tab" href="#nav-savedposts" role="tab" aria-controls="nav-savedposts" aria-selected="false">
                        <i class=" icofont icofont-3x icofont-contact-add"></i>
                    </a>
                    <a class="nav-link" id="nav-recipes-tab" data-toggle="tab" href="#nav-recipes" role="tab" aria-controls="nav-recipes" aria-selected="false">
                        <i class=" icofont icofont-3x icofont-food-basket"></i>
                    </a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-recipes" role="tabpanel" aria-labelledby="nav-recipes-tab">
                    <section class="row">
                        {% for recipe in recipes %}
                        <article class="col-6 col-md-4 pt-4">
                            <div>
                                <img src="{{ recipe.food_image.url }}" alt="{{recipe.food_name}}" class="img-fluid" style="height: 100px; object-fit: cover;" />
                                <h5 class="pt-2">{{recipe.food_name}}</h5>
                            </div>
                        </article>
                        {% endfor %}
                    </section>
                </div>
                <div class="tab-pane fade" id="nav-posts" role="tabpanel" aria-labelledby="nav-posts-tab">
                    <section class="row">
                        {% for post in posts %}
                        <article class="col-6 col-md-4 pt-4">
                            <div>
                                {% if post.image %}
                                <img src="{{post.image.url}}" class="img-fluid product-img p-0" alt="{{post.title}}" style="height: 100px; width: 100% !important; object-fit: cover; "> {% else %}
                                <img src="{% static 'blog/images/blogdefault.png' %}" alt="no thumbnail" style="height: 100px; width: 100%; object-fit: cover; " /> {% endif %}
                                <h5>{{post.title|truncatechars:40}}</h5>
                            </div>
                        </article>
                        {% endfor %}
                    </section>

                </div>
                <div class="tab-pane fade" id="nav-savedposts" role="tabpanel" aria-labelledby="nav-savedposts-tab">...</div>
                <div class="tab-pane fade" id="nav-savedrecipes" role="tabpanel" aria-labelledby="nav-savedrecipes-tab">...</div>
            </div>

            <div class=" d-flex pt-3">
                <a href="{% url 'user-post' user.username %}" class="mr-4 hvr-grow hvr-underline-from-center">
                    <i class=" icofont icofont-2x icofont-letterbox text-primary"></i>
                    <br />
                    <p class=" text-dark"> <b>{{ post_count }} posts </b></p>
                </a>

                <a href="{% url 'user-contribution' user.username %}" class="mr-4 hvr-grow hvr-underline-from-center">
                    <i class=" icofont icofont-2x icofont-chef text-warning"></i>
                    <br />
                    <p> <b>{{ contribution_count }} recipes</b></p>
                </a>

                <a href="{% url 'user-post' user.username %}" class="mr-4 hvr-grow hvr-underline-from-center">
                    <i class=" icofont icofont-2x icofont-contact-add text-danger"></i>
                    <br />
                    <p class=" text-dark"><b> Saved posts </b></p>
                </a>

                <a href="{% url 'user-contribution' user.username %}" class="mr-4 hvr-grow hvr-underline-from-center">
                    <i class=" icofont icofont-2x icofont-food-basket text-info"></i>
                    <br />
                    <p> <b> saved recipes </b></p>
                </a>
            </div>



            <!-- if the user have above 0 contribution then display this -->
            {% if contribution_count > 0 %}
            <p>to view all contributions please <strong></strong></p> <br />
            <!-- this this only when the user requesting is same as the user porfile owner -->
            {% elif request.user.username == user.username %}
            <p>Click here to contribute recipe <strong><a
                        href="{% url 'cookella-add-recipe' %}">Add
                        Recipe</a></strong>
            </p>
            {% endif %}

            <h4 class="mt-5 border-bottom">About Author</h4>
            <p>
                {{ user.profile.details }}
            </p>
        </div>
        <!-- display form only when the profile belongs to the requesting user
            if user who makes request == user who owns the profile then display else don't
         -->


    </div>
</div>
{% endblock content %}